<nav>
  <ul>
    <li>
      <a href="/planets/mercury">Mercury</a>
    </li>
    <li>
      <a href="/planets/venus">Venus</a>
    </li>
    <li>
      <a href="/planets/earth">Earth</a>
    </li>
    <li>
      <a href="/planets/mars">Mars</a>
    </li>
    <li>
      <a href="/planets/jupiter">Jupiter</a>
    </li>
    <li>
      <a href="/planets/saturn">Saturn</a>
    </li>
    <li>
      <a href="/planets/uranus">Uranus</a>
    </li>
    <li>
      <a href="/planets/neptune">Neptune</a>
    </li>
  </ul>
</nav>
