<nav>
  <style>
    .main-nav-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .main-nav-link {
      color: var(--color-white);
      text-decoration: none;
      text-transform: uppercase;
    }
  </style>
  <ul class="main-nav-list">
    <li>
      <a href="/planets/mercury" class="main-nav-link">Mercury</a>
    </li>
    <li>
      <a href="/planets/venus" class="main-nav-link">Venus</a>
    </li>
    <li>
      <a href="/planets/earth" class="main-nav-link">Earth</a>
    </li>
    <li>
      <a href="/planets/mars" class="main-nav-link">Mars</a>
    </li>
    <li>
      <a href="/planets/jupiter" class="main-nav-link">Jupiter</a>
    </li>
    <li>
      <a href="/planets/saturn" class="main-nav-link">Saturn</a>
    </li>
    <li>
      <a href="/planets/uranus" class="main-nav-link">Uranus</a>
    </li>
    <li>
      <a href="/planets/neptune" class="main-nav-link">Neptune</a>
    </li>
  </ul>
</nav>
